<div class="container-fluid">
    <nav class="navbar navbar-block navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mr-5" href="#">Menu</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ml-4" [ngClass]="{'active' : isCompanies} ">
                    <div class="nav-link" style="cursor: pointer;" (click)="showCompanies()">Pregled preduzeca</div>
                </li>
                <li class="nav-item ml-4" [ngClass]="{'active' : isBills} ">
                    <div class="nav-link" style="cursor: pointer;" (click)="showBill()">Racuni</div>
                </li>
                <li class="nav-item ml-3" [ngClass]="{'active' : isPromena} ">
                    <div class="nav-link" style="cursor: pointer;" (click)="showChangePassword()">Change password</div>
                </li>
                <li>
                    <div class="nav-link logout" style="cursor: pointer; margin-left: 100vh;" (click)="logout()">Logout</div>
                </li>
            </ul>
        </div>
    </nav>
    <ng-container *ngIf="isCompanies">
        <div class="row mt-5 justify-content-center">
            <input class="search mb-2" placeholder="Search" type="search" [(ngModel)]="searchStr" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-outline-success mb-1 ml-2" (click)="searchByName()">Search</button>
        </div>
        <div class="row mt-2 justify-content-center" >
            <div class="col-8">
                <table class="table">
                    <thead class="thead-dark">
                        <th>Company</th>
                        <th>Artical</th>
                        <th>Minimal price</th>
                        <th>Available in</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let artical of articals">
                            <tr *ngFor="let pes of artical.pricesAndState">
                                <td>{{artical.company}}</td>
                                <td>{{artical.articalName}}</td>
                                <td>{{pes.purchasePrice}}</td>
                                <td>{{pes.warehouseRegisterName}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="isBills">
        <ng-container *ngIf="showBills">
            <div class="row mt-5 justify-content-center">
                <div class="col-8">
                    <table class="table">
                        <thead class="thead-dark">
                            <th>Company</th>
                            <th>Department</th>
                            <th>Amount</th>
                            <th>Payment method</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bill of buyer.bills">
                                <td>{{bill.company}}</td>
                                <td>{{bill.object}}</td>
                                <td>{{bill.price}}</td>
                                <td>{{bill.paymentMethod}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!showBills">
            <div class="row mt-5 justify-content-center">
                <div class="col-8">
                    <h4>No bills</h4>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isPromena">
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h3>Change password:</h3>
                    <form [formGroup]="changePassForm">
                        <div class="form-group">
                            <label class="form-label">Old password:</label>
                            <br>
                            <input class="form-control" formControlName="oldPassword" type="password"
                            [class.is-invalid] = "changePassForm.controls['oldPassword'].touched && !changePassForm.controls['oldPassword'].valid"
                            [class.is-valid] = "changePassForm.controls['oldPassword'].valid"
                            [(ngModel)]="oldPassword">
                            <div *ngIf="!changePassForm.controls['oldPassword'].valid && changePassForm.controls['oldPassword'].touched" class="invalid-feedback d-block">
                                You must enter your old password!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password:</label>
                            <br>
                            <input class="form-control" formControlName="password" type="password"
                            [class.is-invalid] = "changePassForm.controls['password'].touched && !changePassForm.controls['password'].valid"
                            [class.is-valid] = "changePassForm.controls['password'].valid"
                            [(ngModel)]="password">
                            <div *ngIf="!changePassForm.controls['password'].valid && changePassForm.controls['password'].touched" class="invalid-feedback d-block">
                                Password must contain special sign, at least one number and big letter. Length of password is minimum 8 and maximum 12!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm password:</label>
                            <br>
                            <input class="form-control" formControlName="confirmPassword" type="password"
                            [ngClass]="{ 'is-invalid' : (changePassForm.controls['confirmPassword'].touched && !changePassForm.controls['confirmPassword'].valid) || passwordMismatch}"
                            [ngClass]="{ 'is-valid' : changePassForm.controls['confirmPassword'].valid && !passwordMismatch}"
                            [(ngModel)]="confirmPassword">
                            <div *ngIf="!changePassForm.controls['confirmPassword'].valid && changePassForm.controls['confirmPassword'].touched" class="invalid-feedback d-block">
                                Password must contain special sign, at least one number and big letter. Length of password is minimum 8 and maximum 12!
                            </div>
                            <div *ngIf="passwordMismatch" class="invalid-feedback d-block">
                                Passwords must match!
                            </div>
                        </div>
                        <div>
                            <button [disabled]="!changePassForm.valid && !passwordMismatch" (click)="changePassword()" class="btn btn-lg btn-block btn-success">Change password</button>
                        </div>
                        <div *ngIf="badPassword" class="invalid-feedback d-block">
                            Wrong old password!
                        </div>       
                    </form>
                </div>
            </div>
        </div>

    </ng-container>
</div>