<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6">
            <h4>Choose warehouse or cash register</h4>
            <select class="mr-3" name="warehouse" [(ngModel)]="warehouseName">
                <option value="no"></option>
                <ng-container *ngFor="let ware of companyInfo.warehouses">
                    <option value={{ware.name}}>{{ware.name}}</option>
                </ng-container>
            </select>

            <select name="object" [(ngModel)]="registerName">
                <ng-container *ngFor="let register of companyInfo.cashRegisters">
                    <option value="no"></option>
                    <option value={{register.registerName}}>{{register.registerName}}</option>
                </ng-container>
            </select>
            <br>
            <br>
            <button class="btn btn-dark mb-2" (click)="showArticals()">Show articals</button>
        </div>

        <div class="col-8">
            <ng-container *ngIf="show">
                <table class="table">
                    <thead class="thead-dark">
                        <th>Artical</th>
                        <th>Artical code</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let artical of objectsArticals; let i = index">
                            <td>{{artical.articalName}}</td>
                            <td>{{artical.articalCode}}</td>
                            <td>{{data[i].price}}</td>
                            <td>{{data[i].quantity}}</td>
                            <td><input class="form-control" type="text" [(ngModel)]="amounts[i]"></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button class="btn btn-lg btn-dark" (click)="makeBill()">Make bill</button>
                <br>
                <br>
                <p style="font-weight: bold; font-size: medium;">Amount to pay: {{billPrice}}</p>
                <br>
                <h4>Payment method: </h4>
                <select name="paymentMethod" [(ngModel)]="paymentMethod">
                    <option value="gotovina">Gotovina</option>
                    <option value="kartica">Kartica</option>
                    <option value="cek">Cek</option>
                    <option value="virman">Virman</option>
                </select>
                <br>
                <br>
                <button class="btn btn-dark btn-lg mb-5" [hidden]="!showCloseBill" (click)="open(content)">Close bill</button>
            </ng-container>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Payment</h4>
            </div>
            <ng-container *ngIf="paymentMethod == 'gotovina'">
                <div class="modal-body">
                    <form>
                        <Label>Paid amount:</Label>
                        <input type="text" class="form-control" [(ngModel)]="paidAmount">
                        <br>
                        <Label>ID number:</Label>
                        <input type="text" class="form-control" [(ngModel)]="IDNumber">
                        <br>
                        <p style="font-size: medium; font-weight: bold;">Return amount: {{returnAmount}}</p>
                        <br>
                        <ng-container *ngIf="notEnough">
                            <p style="font-size: medium; font-weight: bold; color: red">Error: more money needed</p>
                        </ng-container>

                        <br>
                        <button class="btn btn-dark" (click)="bill()">Bill</button>
                    </form>
                </div>
            </ng-container>
            <ng-container *ngIf="paymentMethod == 'cek'">
                <div class="modal-body">
                    <form>
                        <Label class="form-label">Firstname:</Label>
                        <input type="text" class="form-control" [(ngModel)]="firstname">
                        <br>
                        <Label class="form-label">Lastname:</Label>
                        <input type="text" class="form-control" [(ngModel)]="lastname">
                        <br>
                        <Label class="form-label">ID number:</Label>
                        <input type="text" class="form-control" [(ngModel)]="IDNumber">
                        <br>
                        <button class="btn btn-dark" (click)="bill()">Bill</button>
                    </form>
                </div>
            </ng-container>
            <ng-container *ngIf="paymentMethod == 'kartica'">
                <div class="modal-body">
                    <form>
                        <Label class="form-label">ID number:</Label>
                        <input type="text" class="form-control" [(ngModel)]="IDNumber">
                        <br>
                        <Label class="form-label">Bill slip:</Label>
                        <input type="text" class="form-control" [(ngModel)]="billSlip">
                        <br>
                        <button class="btn btn-dark" (click)="bill()">Bill</button>
                    </form>
                </div>
            </ng-container>
            <ng-container *ngIf="paymentMethod == 'virman'">
                <div class="modal-body">
                    <select name="narucioc mb-3">
                        <ng-container *ngFor="let nar of companyInfo.orderers">
                            <option value={{nar.username}}>{{nar.username}}</option>
                        </ng-container>
                    </select>
                    <br>
                    <button class="btn btn-dark" (click)="bill()">Bill</button>
                </div>
            </ng-container>
           
            <div class="modal-footer"> 
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Finish</button>
            </div>
        </ng-template>
    </div>
</div>