<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                </div>

                <div class="form-group">
                    <label class="form-label">Username</label>
                    <br>
                    <input class="form-control" formControlName="username" type="text" 
                    [ngClass]="{'is-invalid' : loginForm.controls['username'].touched && !loginForm.controls['username'].valid}" [(ngModel)]="username">
                </div>

                <div class="form-group">
                    <label class="form-label">Password</label>
                    <br>
                    <input class="form-control" formControlName="password" type="text"
                    [ngClass]="{'is-invalid' : loginForm.controls['password'].touched && !loginForm.controls['password'].valid,
                                'is-valid' : loginForm.controls['password'].valid}" [(ngModel)]="password">    
                </div>

                <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>    
    </div>
</div>
