<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h3>Add aditional data about your company</h3>
            <br>
            <form [formGroup]="infoForm">
                
                <div class="form-check">
                    <input class="form-check-input"  type="radio" formControlName="category" name="category" value="Prodavnica" [(ngModel)]="category" [checked]="true"> Prodavnica
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" formControlName="category" name="category" value="Ugostiteljski objekat" [(ngModel)]="category"> Ugostiteljski objekat
                </div>
                <div class="form-group">
                    <select class="form-control" [(ngModel)] = "addedActivityCode" formControlName="activityCode" multiple>
                        <option *ngFor="let code of activityCode" value={{code.code}}>{{code.code}} : {{code.activity}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">PDV: &nbsp;&nbsp;</label>
                    <input type="radio" formControlName="isPDV" [value]="true" [(ngModel)]="isPDV" checked> Da &nbsp;
                    <input type="radio" formControlName="isPDV" [value]="false" [(ngModel)]="isPDV"> Ne
                </div>
                <label>Add bank account : <button class="btn-sm btn-dark ml-2" (click)="addBank()">Add bank</button> <button class="btn-sm btn-danger ml-2" (click)="removeBank()">Remove bank</button></label>
            
                <ng-container *ngFor="let bank of banks, let i = index">
                    <div class="form-group mb-5">
                        <label class="form-label">Bank name:</label>
                        <input class="form-control" formControlName="bankName"  type="text"  
                        [class.is-invalid] = "infoForm.controls['bankName'].touched && !infoForm.controls['bankName'].valid"
                        [class.is-valid] = "infoForm.controls['bankName'].valid"
                        [(ngModel)]="banks[i].bankName">
    
                        <label class="form-label">Bank account:</label>
                        <input class="form-control" formControlName="bankAcc" type="text"  
                        [class.is-invalid] = "infoForm.controls['bankAcc'].touched && !infoForm.controls['bankAcc'].valid"
                        [class.is-valid] = "infoForm.controls['bankAcc'].valid"
                        [(ngModel)]="banks[i].bankAccount">
                    </div>
                </ng-container>

                <label>Add warehouse : <button class="btn-sm btn-dark ml-2" (click)="addWarehouse()">Add warehouse</button> <button class="btn-sm btn-danger ml-2" (click)="removeWarehouse()">Remove warehouse</button></label>
            
                <ng-container *ngFor="let name of warehouseNames, let i = index">
                    <div class="form-group mb-5">
                        <label class="form-label">Warehouse name:</label>
                        <input class="form-control" formControlName="warehouse" type="text"  
                        [class.is-invalid] = "infoForm.controls['warehouse'].touched && !infoForm.controls['warehouse'].valid"
                        [class.is-valid] = "infoForm.controls['warehouse'].valid"
                        [(ngModel)]="warehouseNames[i].name">
                    </div>
                </ng-container>

                <label>Add cash register: <button class="btn-sm btn-dark ml-2" (click)="addRegister()">Add register</button> <button class="btn-sm btn-danger ml-2" (click)="removeRegister()">Remove register</button></label>
                <ng-container *ngFor="let register of cashRegisters, let i = index">
                    <div class="form-group">
                        <label class="form-label">Country:</label>
                        <input class="form-control" formControlName="country" type="text"  
                        [class.is-invalid] = "infoForm.controls['country'].touched && !infoForm.controls['country'].valid"
                        [class.is-valid] = "infoForm.controls['country'].valid"
                        [(ngModel)]="cashRegisters[i].country">
                    </div>
                    <div class="form-group">
                        <label class="form-label">City:</label>
                        <input class="form-control" formControlName="city" type="text"  
                        [class.is-invalid] = "infoForm.controls['city'].touched && !infoForm.controls['city'].valid"
                        [class.is-valid] = "infoForm.controls['city'].valid"
                        [(ngModel)]="cashRegisters[i].city">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Street:</label>
                        <input class="form-control" formControlName="street" type="text"  
                        [class.is-invalid] = "infoForm.controls['street'].touched && !infoForm.controls['street'].valid"
                        [class.is-valid] = "infoForm.controls['street'].valid"
                        [(ngModel)]="cashRegisters[i].street">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Type: &nbsp;&nbsp;</label>
                        <select name="type" [(ngModel)]="cashRegisters[i].type" formControlName="type" class="form-control">
                            <option value="kasa1" [selected]="true">Kasa 1</option>
                            <option value="kasa2" [selected]="false">Kasa 2</option>
                            <option value="kasa3" [selected]="false">Kasa 3</option>
                        </select>
                    </div>
                </ng-container>
                <div>
                    <button class="btn btn-dark btn-block mb-5" [disabled]="infoForm.invalid" (click)="addInfo()">Submit info</button>
                </div>
            </form>
        </div>
    </div>
</div>